@import "./../../styles/variables.scss";

.container {
    position: relative;
    height: 100vh;
    top: 0;
    left: 0;
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    @include breakpoint(mobile)
    {
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
}

.hero {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    @include breakpoint(mobile)
    {
        background: $background;
    }

    @include breakpoint(tablet)
    {
        background: none;
    }
    
    &__content {
        position: absolute;
        display: flex;
        flex-direction: column;
        letter-spacing: $letterSpacing;
        font-family: $manrope-font;
        font-style: normal;
        
        @include breakpoint(mobile)
        {
            width: 335px;
            height: 380px;
            left: 20px;
            top: 137px;
        }
        @include breakpoint(tablet)
        {   
            width: 665px;
            height: 358px;
            left: 60px;
            top: 161px;

        }
        @include breakpoint(desktop) {
            width: 665px;
            height: 404px;
            left: 120px;
            top: 200px;
        }
      

        &__title {
            color: $black;
            font-weight: 800;
            @include breakpoint(mobile) {
                width: 335px;
                height: 160px;
                font-size: 41.6px;
                line-height: 58px;
                text-align: center;
                margin-bottom: 30px;
                font-family: 'Manrope';
            }
            @include breakpoint(tablet) {
                font-size: 56px;
                line-height: 74px;
                width: 655px;
                height: 147px;
                text-align: start;
                margin-bottom: 20px;
            }
            @include breakpoint(desktop) {
                width: 665px;
                height: 164px;
                font-size: 64px;
                line-height: 82px;
                text-align: start;
                margin-bottom: 20px;
            }
        }
        &__description {
            font-weight: 400;
            @include breakpoint(mobile) {
                font-size: 12px;
                line-height: 23px;
                text-align: center;
                width: 335px;
                height: 87px;
                margin-bottom: 43px;
            }
            @include breakpoint(tablet) {
                font-size: 16px;
                line-height: 28px;
                width: 565px;
                height: 84px;
                text-align: start;
                margin-bottom: 35px;
            }
            @include breakpoint(desktop) {
                font-size: 20px;
                line-height: 36px;
                width: 650px;
                height: 99px;
                text-align: start;
                margin-bottom: 50px;
            }
        }

      
    }
    &__contact
    {
        position: relative;
        display: flex;
        background-color: $white;
        border-radius: 8px;
        justify-content: space-between;
        @include breakpoint(mobile) {
            width: 335px;
            height: 60px;
        }
        @include breakpoint(tablet) {
            width: 422px;
            height: 72px;
        }
        @include breakpoint(desktop) {
            width: 502px;
            height: 71px;
       
        }
        &__input
        {    
            border : none;
            font-weight: 400;
            letter-spacing: 0.2px;
            @include breakpoint(mobile)
            {
                
                width: 194px;
                height: 30px;
                margin: 15px 0 15px 20px;
            }
            @include breakpoint(tablet)
            {
                width: 244.63px;
                height: 36px;
                margin:19px 0 17px 26.9px;
            }
            @include breakpoint(desktop)
            {
                margin:17.75px 0 17.75px 32px;
                width: 178px;
                height: 35.5px;
            }
            &:focus {
                outline: 0;
                font-weight: 700;
            }
            &::placeholder
            {
                color: rgba(0, 0, 0, 0.4);
            }
        }
        &__btn
        {
            border-radius: 8px;
            margin : 5px 5px 5px 0px;
            font-weight: 700;
           @include breakpoint(mobile)
           {
              width: 90px;
              height: 50px;
              padding: 15px 18px;
              font-size: 14px;
              line-height: 19px;
           }
           @include breakpoint(tablet)
           {
                width: 114px;
                height: 60px;
                font-size: 16px;
                line-height: 36px;
                padding: 12px 25px;
           }
           @include breakpoint(desktop)
           {
                width: 136px;
                height: 59px;
                font-size: 16px;
                line-height: 36px;
                padding: 12px 38px 11px 37px;
           }
        }
    }
    }






