@import "./../../../styles/variables.scss";
.footer
{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap:60px;
    justify-content: center;
    align-items: center;
    color: $white;
    background-color: $red;
    width: 100%;

    @include breakpoint(mobile)
    {
        top:2006px;
        height: 836px;
    }

    @include breakpoint(tablet)
    {
        top: 1333px;
        height: 376px;
    }
    
    @include breakpoint(desktop)
    {
        top: 1053px;
    }

    &__content
    {    
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        gap: 8px;

        @include breakpoint(mobile)
        {
            top: 50px;
        }

        @include breakpoint(tablet)
        {
            height: 104px;
            top: calc(50% - 104px/2 - 54px);
        }

        @include breakpoint(desktop)
        {
            top: 19.95%;
            bottom: 52.39%;
        }

        &__tiltle
        {
            font-size: 48px;
            line-height: 64px;
            font-weight: 800;
            text-align: center;
            font-feature-settings: 'liga' off;
            color: #FFFFFF;
            
            @include breakpoint(mobile)
            {
                font-size: 36px;
                line-height: 47px;
            }

            @include breakpoint(tablet)
            {
                font-size: 48px;
                line-height: 64px;
            }
           
        }

        &__depcripntions
        {
            font-weight: 400;
            font-size: 18px;

            @include breakpoint(mobile)
            {
                font-size: 14px;
            }

            @include breakpoint(tablet)
            {
                font-size: 18px;
            }
        }
    }
    &__map
    {
        position: absolute;
        font-weight: 700;
        font-size: 18px;
        display: flex;
        justify-content: space-around;
        align-items: center;

        @include breakpoint(mobile)
        {
            flex-direction: column;
            top: 240px;
            width: 183px;
            height: 536px;
            line-height: 25px;
            text-align: center;

            &__small
            {
                width: 157px;
                height: 41px;
            }

            &__normal
            {
                width: 183px;
                height: 41px;
            }

            &__icon
            {
                height: 36px;
                width: 36px;
                transform: rotate(90deg) !important;
            }

        }

        @include breakpoint(tablet)
        {
            flex-direction: row;
            top : 241px;
            width: 884px;
            height: 53px;
            font-size: 14px;
            line-height: 22px;
            text-align: start;
            
            &__small
            {
                width: 132px;
                height: 53px;
            }

            &__normal
            {
                width: 180px;
                height: 53px;
            }

            &__icon
            {
                height: 32px;
                width: 32px;
                transform: rotate(360deg) !important;;
            }
        }

        @include breakpoint(desktop)
        {
            
            top: 239px;
            width: 1200px;
            height: 62px;
            font-size: 18px;
            line-height: 31px;

            &__small
            {
                width: 146px;
                height: 62px;
            }

            &__normal
            {
                width: 199px;
                height: 62px;
            }

        }
       
    }
}