@import '@styles/variables.scss';

.content {
    &__col {
      font-family: $inter-font;
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 24px;
      align-items: start;

      &__headline {
        font-size: 16px;
        line-height: 24px;
      }

      &__links {
        display: flex;
        flex-direction: column;
        gap: 24px;

        a {
          font-weight: 400;
          color: #fff;
          text-decoration: none;
          transition: all 0.2s ease-in-out;
          font-size: 16px;
          line-height: 32px;
        }

        a:hover {
          color: #000000;
        }
      }
    }
  }