@import "./../../styles/variables.scss";

.container {
  width: 100%;
  display: flex;
  background: $red;
  position: absolute;
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;

  @include breakpoint(mobile) {
    gap: 30px;
    padding: 80px 80px 74px 20px;
  }

  @include breakpoint(tablet) {
    gap: 50px;
    padding: 80px 57.3px 70px 60px;
  }

  @include breakpoint(desktop) {
    padding: 80px 120px 70px;
  }

  &__content {
    position: relative;
    display: flex;

    color: $white;
    font-weight: 700;
    justify-content: space-between;

    @include breakpoint(mobile) {
      height: 1027px;
      flex-direction: column;
    }

    @include breakpoint(tablet) {
      height: 304px;
      width: 906.69px;
      flex-direction: row;
    }

    @include breakpoint(desktop) {
      width: 1034px;
      height: 304px;
    }

  }

  &__base {
    position: relative;
    display: flex;

    @include breakpoint(mobile) {
      flex-direction: column-reverse;
      justify-content: flex-start;
      gap: 65px;
    }

    @include breakpoint(tablet) {
      flex-direction: row;
      justify-content: space-between;
    }

    &__year {
      width: 277.06px;
      height: 32px;
      color: $white;
      font-weight: 400;
      font-size: 16px;
      line-height: 32px;
    }

    &__socials {
      width: 224px;
      height: 32px;
      display: flex;
      flex-direction: row;
      gap: 16px;
    }
  }
}
