@import '@styles/variables.scss';
@import '@styles/base.scss';

.container {
    position: relative;
    width: 100%;
}

.process { 

    font-family: 'Manrope';
    font-style: normal;
    text-align: center;
    
    @include breakpoint(mobile)
    {
        min-height: calc(2006px + 836px);
    }

    @include breakpoint(tablet)
    {
        min-height: calc(1333px + 376px);
    }

    @include breakpoint(desktop)
    {
        min-height: calc(1053px + 376px);
    }
    
            &.page {
                padding-top: calc( #{$headerHeight});
            }
    &__content
    {
       width: 100%;
       display: flex;
       flex-direction: column;
       position: absolute;

       &__tiltle
       {
            position: absolute;
            font-weight: 800;
          
            @include breakpoint(mobile)
            {
                font-size: 24px;
                line-height: 33px;
                width: 286px;
                height: 31px;
                left: calc((100% - 286px)/2);
                top: 60px;
            }

            @include breakpoint(tablet)
            {
                width: 428px;
                height: 56px;
                font-size: 36px;
                line-height: 49px;
                top: 120px;
                left: calc((100% - 428px)/2);
            }
       }

       &__depcriptions
       {
            position: absolute;
            letter-spacing: 0.2px;
            font-weight: 400;

            @include breakpoint(mobile)
            {
                width: 334px;
                height: 109px;
                left: calc((100% - 334px)/2);
                top: 106px;
                font-size: 12px;
                line-height: 22px;
            }

            @include breakpoint(tablet)
            {
                width: 852px;
                height: 109px;
                left: calc((100% - 852px)/2);
                top: 206px;
                font-size: 24px;
                line-height: 40px;
            }

            @include breakpoint(desktop)
            {
                width: 994px;
                height: 110px;
                left: 223px;
                left: calc((100% - 994px)/2);
            }
       }

       &__gallery
       {
            position: absolute;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            @include breakpoint(mobile)
            {
                width: 335px;
                height: 1651px;
                left: calc((100% - 335px)/2);
                top: 255px;
                justify-content: center;
                gap:77px;
            }

            @include breakpoint(tablet)
            {
                width: 734px;
                height: 793px;
                left: calc((100% - 734px)/2);
                top: 405px;
                justify-content: space-between;
                gap:80px;
            }

            @include breakpoint(desktop)
            {
                width: 1200px;
                height: 507px;
                left: calc((100% - 1200px)/2);
                top: 406px;
                justify-content: space-between;
                gap:85px;
            }

            @include breakpoint(mobile)
            {
                :nth-child(1)
                {
                    order: 1;
                }

                :nth-child(2)
                {
                    order: 2;
                }

                :nth-child(3)
                {
                    order: 6;
                }

                :nth-child(4)
                {
                    order:4;
                }

                :nth-child(5)
                {
                    order:3;
                }

                :nth-child(6)
                {
                    order:5;
                }
            }

            @include breakpoint(tablet)
            {
                :nth-child(1)
                {
                    order: 1;
                }

                :nth-child(2)
                {
                    order: 2;
                }

                :nth-child(3)
                {
                    order: 5;
                }

                :nth-child(4)
                {
                    order: 3;
                }

                :nth-child(5)
                {
                    order:4;
                }

                :nth-child(6)
                {
                    order:6;
                }
            }

            @include breakpoint(desktop)
            {
                :nth-child(1)
                {
                    order: 1;
                }

                :nth-child(2)
                {
                    order: 2;
                }

                :nth-child(3)
                {
                    order: 3;
                }

                :nth-child(4)
                {
                    order: 4;
                }

                :nth-child(5)
                {
                    order:5;
                }

                :nth-child(6)
                {
                    order:6;
                }
            }

        
       }
    }

}


